[Desktop Entry]
Name=Brackets
Type=Application
Categories=Development
Exec=/opt/brackets/brackets %U
Icon=brackets
MimeType=text/html;
Keywords=Text;Editor;Write;Web;Development;
