.DS_Store*
*.swp
xcodebuild
xcodebuild/*
/node_modules
/npm-debug.log
/downloads

appshell.xcodeproj
Brackets.vcxproj
appshell.sln
libcef_dll_wrapper.vcxproj

*.pbxuser
*.perspective
*.perspective3
*xcuserdata*
*.esproj
*.xcworkspace

*.aps
*.pdb
*.ilk
*.sdf
*.opensdf
*.suo
*.vcxproj.filters
*.vcxproj.user
*.log
*.dmg

Debug
Release
Resources
deps
include
ipch
libcef_dll
tools

/installer/mac/staging/
/installer/linux/*.deb
/installer/linux/debian/package-root/opt/*
/installer/linux/debian/package-root/DEBIAN/control
/installer/win/staging/
*.wixpdb
*.wixobj
bracketsharvestmanager.wxs
fr-fr.mst

appshell_extensions_js.o
Makefile
appshell.Makefile
Brackets.target.mk
libcef_dll_wrapper.target.mk
appshell/gtk
appshell/gtk/*

appshell/node-core/node_modules
