.DS_Store*
*.swp
xcodebuild
xcodebuild/*
/node_modules
/npm-debug.log
/downloads

*.xcodeproj
*.VC.db
*.VC.VC.opendb
.vs/
.vscode/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.pbxuser
*.perspective
*.perspective3
*xcuserdata*
*.esproj
*.xcworkspace

*.aps
*.pdb
*.ilk
*.sdf
*.opensdf
*.suo
*.log
*.dmg

/Debug
/Release
/Resources
/deps
/include
ipch
/libcef_dll
/out
tools

/installer/mac/staging/
/installer/linux/*.deb
/installer/linux/debian/package-root/opt/*
/installer/linux/debian/package-root/DEBIAN/control
/installer/win/staging/
*.wixpdb
*.wixobj
bracketsharvestmanager.wxs
fr-fr.mst

appshell_extensions_js.o
Makefile
appshell.Makefile
*.target.mk
appshell/gtk
appshell/gtk/*

appshell/node-core/node_modules
