<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<dict>
		<key>identifier</key>
		<string>Layout.0E65901D-6E4F-48BE-8DD9-ECA89615E429</string>
		<key>options</key>
		<dict>
			<key>backgroundImageName</key>
			<string>Installer BG Image-02.png</string>
			<key>fontSize</key>
			<integer>12</integer>
			<key>iconSize</key>
			<integer>128</integer>
			<key>layoutItems</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>LayoutItem.41ACEC13-5995-48E6-A3F1-6C766090B2BF</string>
					<key>name</key>
					<string> </string>
					<key>position</key>
					<string>{327, 148}</string>
					<key>type</key>
					<string> </string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>LayoutItem.E769E339-FD2E-41FE-B10F-98654151FD1C</string>
					<key>name</key>
					<string>Brackets.app</string>
					<key>position</key>
					<string>{118, 148}</string>
					<key>type</key>
					<string>file</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>LayoutItem.3E1B7344-C175-4BE0-87DB-880A4A30E80F</string>
					<key>name</key>
					<string>.Trashes</string>
					<key>position</key>
					<string>{128, 416}</string>
					<key>type</key>
					<string>file</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>LayoutItem.0679B008-641D-4857-A4B8-156BF67D8320</string>
					<key>name</key>
					<string>.fseventsd</string>
					<key>position</key>
					<string>{336, 432}</string>
					<key>type</key>
					<string>file</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>LayoutItem.8D9807E3-99A9-44C5-B7D7-6E950AB1C9AE</string>
					<key>name</key>
					<string>.DropDMGBackground</string>
					<key>position</key>
					<string>{400, 432}</string>
					<key>type</key>
					<string>file</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>LayoutItem.98CEBD52-9BEA-4BCA-AB41-A7A7B966A961</string>
					<key>name</key>
					<string>.DS_Store</string>
					<key>position</key>
					<string>{64, 432}</string>
					<key>type</key>
					<string>file</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>LayoutItem.06B71EA6-CBC5-4D35-8EA1-8BBE1E126E00</string>
					<key>position</key>
					<string>{365, 383}</string>
					<key>rtf</key>
					<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0 Drag Brackets to the Applications folder to install}</string>
					<key>size</key>
					<string>{282, 30}</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>windowOriginTopLeft</key>
			<string>{100, 100}</string>
		</dict>
	</dict>
	<key>documentCreator</key>
	<string>DropDMG 3.1.3</string>
	<key>documentType</key>
	<string>com.c-command.DropDMG.Layout</string>
	<key>formatVersion</key>
	<integer>1</integer>
</dict>
</plist>
