<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>appshell.icns</string>
	<key>CFBundleIdentifier</key>
	<string>io.brackets.appshell</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.5.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
				<string>jpe</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text files</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
				<string>public.source-code</string>
				<string>public.script</string>
				<string>public.shell-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>HTML source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>htm</string>
				<string>html</string>
				<string>shtm</string>
				<string>shtml</string>
				<string>xhtml</string>
				<string>cfm</string>
				<string>cfml</string>
				<string>cfc</string>
				<string>dhtml</string>
				<string>xht</string>
				<string>tpl</string>
				<string>twig</string>
				<string>hbs</string>
				<string>handlebars</string>
				<string>kit</string>
				<string>jsp</string>
				<string>aspx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JavaScript source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>js</string>
				<string>jsx</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CSS source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>css</string>
				<string>less</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Markdown</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md</string>
				<string>mkd</string>
				<string>mkdn</string>
				<string>mdown</string>
				<string>markdown</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Groovy source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>groovy</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Properties</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ini</string>
				<string>properties</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SCSS</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scss</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>EJS</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ejs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JSON</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>json</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>XML</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svg</string>
				<string>xml</string>
				<string>wxs</string>
				<string>wxl</string>
				<string>wsdl</string>
				<string>rss</string>
				<string>atom</string>
				<string>rdf</string>
				<string>xslt</string>
				<string>xul</string>
				<string>xbl</string>
				<string>mathml</string>
				<string>config</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PHP</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>php</string>
				<string>php3</string>
				<string>php4</string>
				<string>php5</string>
				<string>phtm</string>
				<string>phtml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>C</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c</string>
				<string>h</string>
				<string>i</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>C++</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cc</string>
				<string>cp</string>
				<string>cpp</string>
				<string>c++</string>
				<string>cxx</string>
				<string>hh</string>
				<string>hpp</string>
				<string>hxx</string>
				<string>h++</string>
				<string>ii</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>C#</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cs</string>
				<string>cshtml</string>
				<string>asax</string>
				<string>ashx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Java</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>java</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Scala</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scala</string>
				<string>sbt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CoffeeScript</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>coffee</string>
				<string>cf</string>
				<string>cson</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Clojure</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>clj</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Perl</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pl</string>
				<string>pm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Ruby</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rb</string>
				<string>ru</string>
				<string>gemspec</string>
				<string>rake</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Python</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
				<string>pyw</string>
				<string>wsgi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SASS</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sass</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Lua</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lua</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SQL</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sql</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Diff</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>diff</string>
				<string>patch</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>YAML</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>yaml</string>
				<string>yml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Haxe</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Bash</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sh</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
