<?xml version='1.0' encoding="UTF-8"?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

    <!--
        Variable references:
            $(var.*) are passed in on the command line from the Ant script (see -d arguments to candle)
            !(loc.*) are defined in Brackets_<locale>.wxl
            [*] are references to other elements within this file
    -->

    <!-- note: products with matching `UpgradeCode` guid will be upgraded in-place.  Consequently,
                do not change this guid unless you are starting a new major version of the product. -->
    <Product Id='*' UpgradeCode='3B75C4E6-41C6-43E0-B0B2-92C7C7614AF1' Name='!(loc.ProductName)' Language='1033'
             Version='$(var.ProductVersionNumber)' Manufacturer='$(var.ProductManufacturer)'  >
  
        <Package Description='!(loc.ProductName)' Comments='Installer for !(loc.ProductName)'
                 Manufacturer='$(var.ProductManufacturer)' InstallerVersion='300' Compressed='yes'
                 Languages="1033,1036"/>
    
        <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />
        
        <!-- defines upgrade experience for all releases related by the same UpgradeCode (above) -->
        <MajorUpgrade Schedule="afterInstallInitialize"
                      DowngradeErrorMessage="A later version of !(loc.ProductName) is already installed.  Setup will now exit." />
 
        <Property Id="ARPPRODUCTICON" Value="appicon.ico"/>
        <Icon Id="appicon.ico" SourceFile="appicon.ico"/>
        <Property Id="ALLUSERS" Value="1" />
      
        <DirectoryRef Id="INSTALLDIR" />

        <DirectoryRef Id="ProgramMenuFolder">
            <Component Id="StartMenuShortcut" Guid="{3A2708C1-AD29-42B7-9906-C6C6736F0CCC}" Win64="no" >
                <Shortcut Id="AppShortcut" Name="!(loc.ProductName)" Description="!(loc.ShortcutDescription)"
                          Target="[INSTALLDIR]\$(var.ExeName).exe" />
                <RegistryValue Root="HKCU" Key="Software\$(var.RegistryRoot)" Name="installed" Type="integer"
                               Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    
        <Component Id="FileAssociations" Guid="{D0195E8D-0881-42B6-9B4F-DA84D9396506}" Directory="INSTALLDIR" KeyPath="yes">
            <!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
            <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.RegistryRoot)\Capabilities" Name="ApplicationIcon"
                           Value="[INSTALLDIR]$(var.ExeName).exe,0" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.RegistryRoot)\Capabilities" Name="ApplicationName"
                           Value="!(loc.ProductName)" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="!(loc.ProductName)"
                           Value="SOFTWARE\$(var.RegistryRoot)\Capabilities" Type="string" />

            <!-- File associations -->
            <?define SupportedFiletypes=txt;groovy;ini;properties;css;scss;html;htm;shtm;shtml;xhtml;cfm;cfm1;cfc;dhtml;xht;tpl;twig;hbs;handlebars;kit;jsp;aspx;ejs;js;jsx;json;svg;xml;wxs;wxl;wsdl;rss;atom;rdf;xslt;xul;xbl;mathml;config;php;php3;php4;php5;phtm;phtml;ctp;c;h;i;cc;cp;cpp;c++;cxx;hh;hpp;hxx;h++;ii;cs;cshtml;asax;ashx;java;scala;sbt;coffee;cson;cf;clj;pl;pm;rb;ru;gemspec;rake;py;pyw;wsgi;sass;less;lua;sql;diff;patch;md;markdown;yaml;yml;hx;sh?>

            <?foreach filetype in $(var.SupportedFiletypes)?>
                <!-- associate program with file type -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.RegistryRoot)\Capabilities\FileAssociations"
                               Value="!(loc.ProductName) FileExt" Name=".$(var.filetype)" Type="string" />

                <!-- associate each supported filetype with application -->
                <RegistryValue Root="HKCR" Key=".$(var.filetype)\OpenWithProgids" Value=""
                               Name="!(loc.ProductName) FileExt" Type="string" />
            <?endforeach?>
            
            <!-- create ProgId entry -->
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\!(loc.ProductName) FileExt\shell\open\command"
                           Value="&quot;[INSTALLDIR]$(var.ExeName).exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\!(loc.ProductName) FileExt\DefaultIcon"
                           Value="[INSTALLDIR]$(var.ExeName).exe,0" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\!(loc.ProductName) FileExt\shell\open"
                           Name="FriendlyAppName" Value="!(loc.ProductName)" Type="string" />

            <!-- Add an entry to make sure it is runnable via Run Command  -->
            <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\Brackets.exe" Value="[INSTALLDIR]$(var.ExeName).exe"
                               Type="string" />
        </Component>

        <Component Id="AddContextMenu"
                         Guid="5E95F75D-91C4-44B6-B8A3-83005388B4BF" Directory="INSTALLDIR" KeyPath="yes">

            <!-- Add Open With Brackets to explorer's file context menu -->
            <RegistryValue Root="HKCR" Key="*\shell\!(loc.ProductName)" Value="!(loc.ExplorerFileOpenContextMenu)"
                               Type="string" />

            <RegistryValue Root="HKCR" Key="*\shell\!(loc.ProductName)" Name="Icon" Value="[INSTALLDIR]$(var.ExeName).exe"
                               Type="string" />

            <RegistryValue Root="HKCR" Key="*\shell\!(loc.ProductName)\command" Value="[INSTALLDIR]$(var.ExeName).exe &quot;%1&quot;"
                               Type="string" />

            <!-- Add Open With Brackets to explorer's folder context menu -->
            <RegistryValue Root="HKCR" Key="directory\shell\!(loc.ProductName)" Value="!(loc.ExplorerDirectoryOpenContextMenu)"
                               Type="string" />

            <RegistryValue Root="HKCR" Key="directory\shell\!(loc.ProductName)" Name="Icon" Value="[INSTALLDIR]$(var.ExeName).exe"
                               Type="string" />

            <RegistryValue Root="HKCR" Key="directory\shell\!(loc.ProductName)\command" Value="[INSTALLDIR]$(var.ExeName).exe &quot;%1&quot;"
                               Type="string" />

        </Component>
        
        <!-- Start Menu Shortcuts-->
        <UIRef Id="WixUI_MyInstallDir" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <!-- Launch app after install -->
<!--
        <Property Id="LAUNCHAPPONEXIT" Value="1" />
        <Property Id="WixShellExecTarget" Value="[#fil7EE01D0693DA0F92C26C5F3007D1BF2C]" />
        <CustomAction Id="LaunchApplication" FileKey="fil7EE01D0693DA0F92C26C5F3007D1BF2C" ExeCommand=""
                      Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
-->
        <UI>
            <Publish Dialog="MyExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
<!--
            <Publish Dialog="MyExitDialog" Control="Finish" Order="1" Event="DoAction"
                     Value="LaunchApplication">LAUNCHAPPONEXIT=1 and NOT INSTALLED AND NOT REMOVE="ALL"</Publish>
-->
        </UI>

        <!-- Add image assets -->
        <WixVariable Id="WixUIBannerBmp" Value="win_install_banner.jpg" />
    
        <!--Setup Folder Structure -->
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder'>
                <Directory Id='INSTALLDIR' Name='!(loc.ShortProductName)'>
                  <Component Id="UpdatePath"
                             Guid="1781A625-8ACB-45E7-A8BA-219D81760B2E">
                    <CreateFolder />
                    <Environment Id="PATH"
                                 Action="set"
                                 Part="last"
                                 Name="PATH"
                                 Permanent="no"
                                 System="yes"
                                 Value="[INSTALLDIR]command" />
                  </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder"/>
        </Directory>
    
        <!-- Set default install location -->    
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <!-- Install Files -->
        <Feature Id="MainApplication" Title="Main Application" Level="1">
            <!-- From devmanager.wxs -->
            <ComponentGroupRef Id='BRACKETSHARVESTMANAGER'/>
        
            <ComponentRef  Id='StartMenuShortcut' />

            <ComponentRef  Id='FileAssociations' />
        </Feature>

        <Feature Id="UpdatePath" Title="Updating Path Variable" Level="1">
            <ComponentRef  Id="UpdatePath" />
        </Feature>
        
        <Feature Id="AddContextMenu" Title="Adding Context Menus" Level="1">
            <ComponentRef  Id="AddContextMenu" />
        </Feature>
        
        <!-- Hack to make installer send WM_STATE_CHANGE message -->

        <!-- Include the Custom Actions library - currently just to send notification of Environment changes. -->
        <Binary Id="CustomEnvAction.dll" SourceFile="CustomEnvAction.dll" />

        <!-- Define the custom action to broadcast Environment Variables change. -->
        <CustomAction Id="BroadcastEnvironmentVariablesChange"
                      Return="check"
                      Execute="immediate"
                      BinaryKey="CustomEnvAction.dll"
                      DllEntry="BroadcastEnvironmentVariablesChange" />
        
        <InstallExecuteSequence>
            <Custom Action="BroadcastEnvironmentVariablesChange" After="InstallFinalize"/>
        </InstallExecuteSequence>
        
        <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize" />    
    </Product>
</Wix>

<!-- filD0C88F09CF264F61C7551B69762FB244 -->

