<?xml version='1.0' encoding="UTF-8"?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

  <!--
    Variable references:
      $(var.*) are passed in on the command line from the Ant script (see -d arguments to candle)
      !(loc.*) are defined in Brackets_<locale>.wxl
      [*] are references to other elements within this file
  -->

  <Product Id='*' UpgradeCode='330ed78b-1b84-4a2d-87a6-34970c9baab7' Name='!(loc.ProductName) $(var.ProductVersionName)' Language='1033'
            Version='$(var.ProductVersionNumber)' Manufacturer='$(var.ProductManufacturer)'  >
  
  <Package Description='!(loc.ProductName)'
             Comments='Installer for !(loc.ProductName)'
             Manufacturer='$(var.ProductManufacturer)'
             InstallerVersion='300'
             Compressed='yes'
             Languages="1033,1036"/>
    
    <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />
  
 
    <Property Id="ARPPRODUCTICON" Value="appicon.ico"/>
    <Icon Id="appicon.ico" SourceFile="appicon.ico"/>
    <Property Id="ALLUSERS" Value="1" />
  
    
    <DirectoryRef Id="INSTALLDIR">
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="StartMenuShortcut" Guid="{8c147ada-3737-c059-d472-5d4992e8b3f1}" Win64="no" >
        <Shortcut Id="AppShortcut" Name="!(loc.ProductName) $(var.ProductVersionName)"
                 Description="!(loc.ShortcutDescription)"
                 Target="[INSTALLDIR]\$(var.ExeName).exe" />
        <RegistryValue Root="HKCU" Key="Software\$(var.RegistryRoot)"
                      Name="installed" Type="integer"
                      Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <Component Id="FileAssociations" Guid="{D0195E8D-0881-42B6-9B4F-DA84D9396506}" Directory="INSTALLDIR" KeyPath="yes">
        <!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities" Name="ApplicationDescription" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities" Name="ApplicationIcon" Value="[INSTALLDIR]$(var.ExeName).exe,0" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities" Name="ApplicationName" Value="!(loc.ProductName)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="$(var.ProductVersionName)" Value="SOFTWARE\$(var.ProductVersionName)\Capabilities" Type="string" />

        <!-- File associations -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".groovy" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".ini" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".properties" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".css" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".scss" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".html" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".htm" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".shtm" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".shtml" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".xhtml" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".cfm" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".cfm1" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".cfc" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".dhtml" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".xht" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".tpl" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".twig" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".hbs" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".handlebars" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".kit" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".jsp" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".aspx" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".ejs" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".js" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".jsx" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".json" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".svg" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".xml" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".wxs" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".wxl" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".wsdl" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".rss" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".atom" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".rdf" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".xslt" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".xul" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".xbl" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".mathml" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".config" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".php" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".php3" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".php4" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".php5" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".phtm" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".phtml" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".ctp" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".c" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".h" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".i" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".cc" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".cp" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".cpp" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".c++" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".cxx" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".hh" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".hpp" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".hxx" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".h++" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".ii" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".cs" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".cshtml" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".asax" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".ashx" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".java" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".scala" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".sbt" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".coffee" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".cf" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".cson" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".clj" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".pl" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".pm" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".rb" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".ru" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".gemspec" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".rake" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".py" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".pyw" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".wsgi" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".sass" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".lua" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".sql" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".diff" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".patch" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".md" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".markdown" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".yaml" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".yml" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".hx" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".sh" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductVersionName)\Capabilities\FileAssociations" Value="ECCCFileExt" Name=".less" Type="string" />

        <RegistryValue Root="HKCR" Key="ECCCFileExt\shell\open\command" Value="&quot;[INSTALLDIR]$(var.ExeName).exe&quot; &quot;%1&quot;" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\$(var.ExeName).exe\shell\open" Name="FriendlyAppName" Value="!(loc.ProductName)" Type="string" />

    </Component>
    <!-- Start Menu Shortcuts-->
    <UIRef Id="WixUI_MyInstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />


    <!-- Launch app after install -->
<!--
    <Property Id="LAUNCHAPPONEXIT" Value="1" />
    <Property Id="WixShellExecTarget" Value="[#fil7EE01D0693DA0F92C26C5F3007D1BF2C]" />
    <CustomAction Id="LaunchApplication" FileKey="fil7EE01D0693DA0F92C26C5F3007D1BF2C" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
-->
    <UI>
      <Publish Dialog="MyExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <!--<Publish Dialog="MyExitDialog" Control="Finish" Order="1" Event="DoAction" Value="LaunchApplication">LAUNCHAPPONEXIT=1 and NOT INSTALLED AND NOT REMOVE="ALL"</Publish>-->

    </UI>

    <!-- Add image assets -->
    <WixVariable Id="WixUIBannerBmp" Value="win_install_banner.jpg" />
    
    <!--Setup Folder Structure -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder'>
        <Directory Id='INSTALLDIR' Name='!(loc.ShortProductName) $(var.ProductVersionName)'/>
      </Directory>
      <Directory Id="ProgramMenuFolder"/>
    </Directory>
    
    <!-- Set default install location -->    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <!-- Install Files -->
    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <!-- From devmanager.wxs -->
      <ComponentGroupRef Id='BRACKETSHARVESTMANAGER'/>
        
      <ComponentRef  Id='StartMenuShortcut' />

      <ComponentRef  Id='FileAssociations' />
    </Feature>                  
  </Product>
</Wix>

<!-- filD0C88F09CF264F61C7551B69762FB244 -->

