<?xml version='1.0' encoding="UTF-8"?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

  <!--
    Variable references:
      $(var.*) are passed in on the command line from the Ant script (see -d arguments to candle)
      !(loc.*) are defined in Brackets_<locale>.wxl
      [*] are references to other elements within this file
  -->

  <Product Id='*' UpgradeCode='330ed78b-1b84-4a2d-87a6-34970c9baab7' Name='!(loc.ProductName) $(var.ProductVersionName)' Language='1033'
            Version='$(var.ProductVersionNumber)' Manufacturer='$(var.ProductManufacturer)'  >
  
  <Package Description='!(loc.ProductName)'
             Comments='Installer for !(loc.ProductName)'
             Manufacturer='$(var.ProductManufacturer)'
             InstallerVersion='300'
             Compressed='yes'
             Languages="1033,1036"/>
    
    <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />
  
 
    <Property Id="ARPPRODUCTICON" Value="appicon.ico"/>
    <Icon Id="appicon.ico" SourceFile="appicon.ico"/>
    <Property Id="ALLUSERS" Value="1" />
  
    
    <DirectoryRef Id="INSTALLDIR">
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="StartMenuShortcut" Guid="{c6460962-7680-2921-c007-10f7a73968f3}" Win64="no" >
        <Shortcut Id="AppShortcut" Name="!(loc.ProductName) $(var.ProductVersionName)"
                 Description="!(loc.ShortcutDescription)"
                 Target="[INSTALLDIR]\$(var.ExeName).exe" />
        <RegistryValue Root="HKCU" Key="Software\$(var.RegistryRoot)"
                      Name="installed" Type="integer"
                      Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Start Menu Shortcuts-->
    <UIRef Id="WixUI_MyInstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />


    <!-- Launch app after install -->
<!--
    <Property Id="LAUNCHAPPONEXIT" Value="1" />
    <Property Id="WixShellExecTarget" Value="[#fil7EE01D0693DA0F92C26C5F3007D1BF2C]" />
    <CustomAction Id="LaunchApplication" FileKey="fil7EE01D0693DA0F92C26C5F3007D1BF2C" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
-->
    <UI>
      <Publish Dialog="MyExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <!--<Publish Dialog="MyExitDialog" Control="Finish" Order="1" Event="DoAction" Value="LaunchApplication">LAUNCHAPPONEXIT=1 and NOT INSTALLED AND NOT REMOVE="ALL"</Publish>-->

    </UI>

    <!-- Add image assets -->
    <WixVariable Id="WixUIBannerBmp" Value="win_install_banner.jpg" />
    
    <!--Setup Folder Structure -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder'>
        <Directory Id='INSTALLDIR' Name='!(loc.ShortProductName) $(var.ProductVersionName)'/>
      </Directory>
      <Directory Id="ProgramMenuFolder"/>
    </Directory>
    
    <!-- Set default install location -->    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <!-- Install Files -->
    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <!-- From devmanager.wxs -->
      <ComponentGroupRef Id='BRACKETSHARVESTMANAGER'/>
        
      <ComponentRef  Id='StartMenuShortcut' />
    </Feature>                  
  </Product>
</Wix>

<!-- filD0C88F09CF264F61C7551B69762FB244 -->

