<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
-->
<!--
    Modified from Wix 3.5 for Brackets. See https://github.com/adobe/brackets-shell/
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="MyExitDialog" Width="370" Height="270" Title="!(loc.StandardDlg_Title)">
                <Control Id="Finish" Type="PushButton" X="304" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIFinish)" />
                <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="DescriptionRemove" Type="Text" X="25" Y="70" Hidden="yes" Width="320" Height="80" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogDescription)" >
                    <Condition Action="show">Installed</Condition>
                </Control>
              <Control Id="DescriptionInstall" Hidden="yes" Type="Text" X="25" Y="70" Width="320" Height="80" Transparent="yes" NoPrefix="yes"
                       Text="!(loc.UserExitDescription2)" >
                <Condition Action="show">NOT Installed</Condition>
              </Control>
                

                               
                <Control Id="TitleUninstall" Hidden="yes" Type="Text" X="15" Y="15" Width="350" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTitleUninstall)" >
                    <Condition Action="show">Installed</Condition>
                </Control>
                <Control Id="TitleInstall" Hidden="yes" Type="Text" X="15" Y="15" Width="350" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTitleInstall)" >
                    <Condition Action="show">NOT Installed</Condition>
                </Control>
                <!--
                <Control Id="LaunchCheckBox" Type="CheckBox" X="10" Y="243" Width="270" Height="17" Property="LAUNCHAPPONEXIT" Hidden="yes" CheckBoxValue="1" Text=" !(loc.ExitDialogLaunchApp)">
                    <Condition Action="show">NOT Installed</Condition>
                </Control>
                -->
            </Dialog>

            <InstallUISequence>
                <Show Dialog="MyExitDialog" OnExit="success" Overridable="yes" />
            </InstallUISequence>

            <AdminUISequence>
                <Show Dialog="MyExitDialog" OnExit="success" Overridable="yes" />
            </AdminUISequence>
        </UI>
    </Fragment>
</Wix>