<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<dict>
		<key>identifier</key>
		<string>License.CCC4C71D-876F-43DF-8E16-E5049AF5161C</string>
	</dict>
	<key>documentCreator</key>
	<string>DropDMG 3.1.3</string>
	<key>documentType</key>
	<string>com.c-command.DropDMG.License</string>
	<key>formatVersion</key>
	<integer>1</integer>
</dict>
</plist>
